{% extends 'base.html' %}
{% block title %}个人博客{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">{% block blog_list_title %}<h4>博客列表</h4>{% endblock %}</div>
                    <div class="panel-body">
                        {% for blog in blogs %}
                            <div class="blog">                                
                                <h3><a href="{% url 'blog_detail' blog.pk%}">{{ blog.title }}</a></h3>
                                <p class="blog-info">
                                    <span class="glyphicon glyphicon-tag"></span><a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-time"></span>
                                    {{ blog.created_time|date:"Y-m-d" }}&nbsp;&nbsp;
                                    阅读（{{ blog.get_read_num }}）&nbsp;&nbsp;
                                    评论（{% get_comment_count blog %}）&nbsp;&nbsp;
                                    点赞({% get_like_count blog %})
                                </p>
                                <p>{{ blog.content|striptags|truncatechars:120 }}</p>
                            </div>
                        {% empty %}
                            <div class="blog">
                                <h3>--暂无文章，敬请期待--</h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="paginator">
                    <div aria-label="Page navigation">
                        <ul class="pagination">
                        <li> 
                        <li>
                            {% if page_of_blogs.has_next %}
                                <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                        </ul>
                        <p>
                            共{{ page_of_blogs.paginator.count }}篇博文，
                            当前在{{ page_of_blogs.number }}页，
                            共{{ page_of_blogs.paginator.num_pages }}页。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>博客标签</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="blog-types">
                            {% for blog_type in blog_types %}
                                <li><span class="glyphicon glyphicon-tag"><a href="{% url 'blogs_with_type' blog_type.pk %}">{{ blog_type.type_name }}({{ blog_type.blog_count }})</a></li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                            <hr>
                            <p>第一种方法统计的一共有{{ blogs|length }}篇博文</p>
                            <p>第二种方法统计的一共有{{ blogs_count }}篇博文</p>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">日期归档</div>
                    <div class="panel-body">
                        <ul>                            
                            {% for blog_date, blog_count in blog_dates.iterms %} 
                            <li>                           
                            <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">
                                {{ blog_date|date:'Y年m月' }}({{ blog_count }})
                            </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
